:root {
  --placeholder-color: var(--grey);
}

.input_container {
  position: relative;
  display: inline-flex;
  flex-direction: column;

  & input {
    width: 328px;
    border: 1px solid var(--light-grey);
    border-radius: 4px;
    font-size: 1rem;
    padding: 0 1rem;
    outline: none;
  }

  & label {
    position: absolute;
    left: 12px;
    height: 1.1rem;
    padding: 0 5px;
    pointer-events: none;
    transform-origin: top left;
    transform: translate(0, 29px) scale(1);
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    color: var(--grey);
    font-size: 1rem;
    line-height: 1;
    background-color: white;
  }

  &:focus-within input {
    border-color: var(--primary);
  }

  &:focus-within label {
    color: var(--primary);
  }

  &_error {
    --placeholder-color: var(--red);
    input {
      border-color: var(--red);
    }
    label {
      color: var(--red);
    }

    &:focus-within input {
      border-color: var(--red);
    }

    &:focus-within label {
      color: var(--red);
    }
  }

  &_size {
    &_lg {
      input {
        height: 56px;
      }
      label {
        top: -9px;
      }
      &:focus-within label {
        transform: translate(0, 0px) scale(0.9);
      }

      & .filled {
        transform: translate(0, 0px) scale(0.9);
      }
    }
    &_md {
      input {
        height: 40px;
      }
      label {
        top: -17px;
      }
      &:focus-within label {
        transform: translate(0, 8px) scale(0.9);
      }

      & .filled {
        transform: translate(0, 8px) scale(0.9);
      }
    }
  }

  &:focus-within {
    .icon {
      &_rotate {
        transition: all 0.25s ease;
        transform: rotate(180deg);
      }
    }
  }
  &:not(:focus-within) {
    .icon {
      &_rotate {
        transition: all 0.25s ease;
        transform: rotate(0deg);
      }
    }
  }
}

.icon {
  cursor: pointer;
  position: absolute;
  right: 1.1rem;

  &_size {
    &_lg {
      top: 1.1rem;
    }
    &_md {
      top: 0.6rem;
    }
  }
}

.error {
  margin: 6px 0 0 2px;
  color: var(--red);
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--placeholder-color);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--placeholder-color);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--placeholder-color);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: var(--placeholder-color);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="rgb(16, 168, 201)" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}
