:root {
  --placeholder-color: var(--grey);
}

.input_container {
  position: relative;
  display: inline-flex;
  flex-direction: column;

  & input {
    width: 328px;
    border: 1px solid var(--light-grey);
    border-radius: 4px;
    font-size: 1rem;
    padding: 0 1rem;
    outline: none;
  }

  & label {
    position: absolute;
    left: 12px;
    height: 1.1rem;
    padding: 0 5px;
    pointer-events: none;
    transform-origin: top left;
    transform: translate(0, 29px) scale(1);
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    color: var(--grey);
    font-size: 1rem;
    line-height: 1;
    background-color: white;
  }

  &:focus-within input {
    border-color: var(--primary);
  }

  &:focus-within label {
    color: var(--primary);
  }

  &_error {
    --placeholder-color: var(--red);
    input {
      border-color: var(--red);
    }
    label {
      color: var(--red);
    }

    &:focus-within input {
      border-color: var(--red);
    }

    &:focus-within label {
      color: var(--red);
    }
  }

  &_size {
    &_lg {
      input {
        height: 56px;
      }
      label {
        top: -9px;
      }
      &:focus-within label {
        transform: translate(0, 0px) scale(0.9);
      }

      & .filled {
        transform: translate(0, 0px) scale(0.9);
      }

      & .icon {
        top: 1.1rem;
      }
    }
    &_md {
      input {
        height: 40px;
      }
      label {
        top: -17px;
      }
      &:focus-within label {
        transform: translate(0, 8px) scale(0.9);
      }

      & .filled {
        transform: translate(0, 8px) scale(0.9);
      }

      & .icon {
        top: 0.6rem;
      }
    }
  }
}

.icon {
  color: var(--grey);
  cursor: pointer;
  position: absolute;
  right: 1.1rem;
}

.error {
  margin: 6px 0 0 2px;
  color: var(--red);
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--placeholder-color);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--placeholder-color);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--placeholder-color);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: var(--placeholder-color);
}
