.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 5px 15px 6px;
  border-radius: 4px;
  font-weight: 300;
}

.card {
  box-sizing: border-box;
  background-color: var(--light-grey);
  border: 2px solid var(--grey);
  border-radius: 4px;
  height: 18rem;
  width: 25rem;
  padding: 0.8rem;
}
