.badge {
  color: white;
  width: fit-content;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 300;
}

.card {
  position: relative;
  box-sizing: border-box;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  height: 18rem;
  width: 25rem;
  padding: 0.8rem;
}
