:root {
  --primary: #10A8C9;
  --light-primary: #11B7DB;
  --dark-primaty: #0E97B5;
  --ultra-light-primary: #E8F7FA;
  --grey: #9CA4B3;
  --light-grey: #D7DBE2;
  --dark-grey: #515B6C;
  --white: #FFF;
  --orange: #F2994A;
  --dark-orange: #FF8437;
  --green: #03D087;
  --dark-green: #219653;
  --red: #D82045;
}
