@font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-BoldItalic.woff2") format("woff2"),
      url("./fonts/T-StarPro-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-Bold.woff2") format("woff2"),
      url("./fonts/T-StarPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-Bold.woff2") format("woff2"),
      url("./fonts/T-StarPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-Bold.woff2") format("woff2"),
      url("./fonts/T-StarPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-BoldItalic.woff2") format("woff2"),
      url("./fonts/T-StarPro-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-Heavy.woff2") format("woff2"),
      url("./fonts/T-StarPro-Heavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-Heavy.woff2") format("woff2"),
      url("./fonts/T-StarPro-Heavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-Heavy.woff2") format("woff2"),
      url("./fonts/T-StarPro-Heavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-BoldItalic.woff2") format("woff2"),
      url("./fonts/T-StarPro-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-HeavyItalic.woff2") format("woff2"),
      url("./fonts/T-StarPro-HeavyItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-HeavyItalic.woff2") format("woff2"),
      url("./fonts/T-StarPro-HeavyItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-Light.woff2") format("woff2"),
      url("./fonts/T-StarPro-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-Light.woff2") format("woff2"),
      url("./fonts/T-StarPro-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-HeavyItalic.woff2") format("woff2"),
      url("./fonts/T-StarPro-HeavyItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-Light.woff2") format("woff2"),
      url("./fonts/T-StarPro-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-Medium.woff2") format("woff2"),
      url("./fonts/T-StarPro-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-Medium.woff2") format("woff2"),
      url("./fonts/T-StarPro-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-Medium.woff2") format("woff2"),
      url("./fonts/T-StarPro-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-LightItalic.woff2") format("woff2"),
      url("./fonts/T-StarPro-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-MediumItalic.woff2") format("woff2"),
      url("./fonts/T-StarPro-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-LightItalic.woff2") format("woff2"),
      url("./fonts/T-StarPro-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-LightItalic.woff2") format("woff2"),
      url("./fonts/T-StarPro-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-MediumItalic.woff2") format("woff2"),
      url("./fonts/T-StarPro-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-RegularItalic.woff2") format("woff2"),
      url("./fonts/T-StarPro-RegularItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-Regular.woff2") format("woff2"),
      url("./fonts/T-StarPro-Regular.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-RegularItalic.woff2") format("woff2"),
      url("./fonts/T-StarPro-RegularItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-MediumItalic.woff2") format("woff2"),
      url("./fonts/T-StarPro-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-Regular.woff2") format("woff2"),
      url("./fonts/T-StarPro-Regular.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-Regular.woff2") format("woff2"),
      url("./fonts/T-StarPro-Regular.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "T-Star Pro";
    src: url("./fonts/T-StarPro-RegularItalic.woff2") format("woff2"),
      url("./fonts/T-StarPro-RegularItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  