.select {
  //   outline: 1px solid red;

  & [class*="-control"] {
    box-shadow: none;
  }

  &:hover {
    [class*="-control"] {
      border: 1px solid var(--primary);
    }

    [class*="-indicatorContainer"] {
      color: var(--primary);
    }

    [class*="-indicatorSeparator"] {
      background-color: var(--primary);
    }
  }

  &:focus-within {
    [class*="-indicatorContainer"] {
      color: var(--primary);
      transform: rotate(180deg);
      transition: all 0.2s ease-in-out;
    }
    [class*="-indicatorSeparator"] {
      background-color: var(--primary);
    }
  }
}
