.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 428px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px;
  border-radius: 8px;
  background: white;
  z-index: 11;
}

.side_modal {
  position: fixed;
  right: 0;
  min-width: 330px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px;
  background: white;
  z-index: 11;

  & .close_button::before {
    left: 42px;
    top: 32px;
  }
  & .close_button::after {
    left: 42px;
    top: 32px;
  }
}

.close_button {
  cursor: pointer;

  &::before {
    position: absolute;
    right: 24px;
    top: 24px;
    border: 1px solid var(--grey);
    background-color: var(--grey);
    width: 12px;
    content: "";
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    right: 24px;
    top: 24px;
    border: 1px solid var(--grey);
    background-color: var(--grey);
    width: 12px;
    content: "";
    transform: rotate(-45deg);
  }
}
